[[$head]]
[[$header]]
	<section id="home_slider">
		<div class="slider">
			[[!getImageList?
	      &tvname=`MIGX-home_slider`
	      &tpl=`tpl-migx-home_slider`
	    ]] 
		</div><!--/.slider-->
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="pager"></div>
				</div><!--/.span12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section>

	<div class="cycle-pager"></div>
				
	<section id="circles">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-5 col-sm-offset-1 col-xs-offset-1">
					<a id="individualLink" class="circle" href="[[~16]]">
						<span>Individual</span>
					</a>
				</div>
				<div class="col-sm-4 col-xs-5 col-sm-offset-2">
					<a id="corporateLink" class="circle" href="[[~15]]">
						<span>Corporate</span>
					</a>
				</div><!--/.col-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section>
	
	<span class="circles_icon_hover_1"></span>
	<span class="circles_icon_hover_2"></span>
	
	<hr />
	
	<section class="blackSection">
		<div class="container">
			<div class="row ctas">
				<div class="row-same-height">
					[[!getImageList?
			      &tvname=`MIGX-home_ctas`
			      &tpl=`tpl-migx-home_ctas`
			    ]] 
				</div><!--/.row-same-height-->		
			</div><!--/.row-->
		</div><!--/.container-->
	</section>
	
	<hr />
				
[[$footer]]
