[[$head]]
[[$header]]
<section class="lightSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				[[*content]]
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				[[*about_content]]
			</div>	
			<div class="col-xs-12 col-md-4 blog-mention-list">
				<h2>X Factor Blog Mentions</h2>
				[[!getResources?
				  &parents=`8`
				  &tpl=`tpl-gr-about_latest_posts`
				  &showHidden=`1`
				  &limit=`5`
				  &includeContent=`1`
				]]
			</div>
		</div>
	</div>
</section>
<hr />
<section id="aboutNumbers" class="blackSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>X Factor By The Numbers</h2>		
			</div> 
		</div><!--/.container-->
		<div class="row">
			[[getImageList?
	      &tvname=`MIGX-about_numbers`
	      &tpl=`tpl-migx-about_numbers`
	    ]] 	
		</div><!--/.row-->
	</div><!--/.container-->
</section>
<hr />
<section id="team" class="lightSection">
	<div class="container">
		<div id="bios" class="row about-bios">
			[[getResources? 
			  &parents=`2`
			  &tpl=`tpl-gr-about_bios`
			  &showHidden=`1`
			  &limit=`2`
			  &includeTVs=`1`
			  &processTVs=`1`
			  &includeContent=`1`
			]]
		</div><!--/.row-->
	</div><!--/.container-->
</section>
 
[[$footer]]
