[[$head]]
[[$header]]
<section class="lightSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-3 col-md-3 col-ms-4 hidden-sm hidden-xs">
				<div id="sidebarNav">
					<a href="[[~3]]" class="title">All</a>
					<a href="[[~15]]" class="title" >Corporate</a>
					[[Wayfinder? &startId=`15` &level=`1`]]
					<a href="[[~16]]" class="title">Individual</a>
					[[Wayfinder? &startId=`16` &level=`1`]]
					<a href="[[~230]]" class="title [[*id:is=`230`:then=`active`]] hidden" >Additional Resources</a>
					[[$instafeed]]
					<a class="generalButton" data-toggle="modal" href="#toolkitModal" title="Join">[[++toolkit_title]]</a>
				</div>
			</div>
			<div class="col-xs-12 col-lg-9 col-md-9 col-ms-8">
				<div id="service-detail" class="row">
					[[Breadcrumbs? &showHomeCrumb=`0` &currentAsLink=`0`]]
					<div class="generalButton back" onClick="history.go(-1); return false;">Back</div>
					
					<div class="col-lg-12">
						<h1 class="[[#[[*parent]].tv.service_icon]]">[[*longtitle:default=`[[*pagetitle]]`]]</h1>
					</div><!--/.col-->
					
					<div  class="col-lg-6 col-md-6 col-ms-6">
						<img src="[[*service_image]]" />
					</div><!--/.col-->
					<div  class="col-lg-6 col-md-6 col-ms-6">
						<p>[[*introtext]]</p>
						[[*service_method:is=`buy`:then=`
							[[*service_url:is=``:then=`
								<form id="cartForm" class="form form-horizontal" action="https://xfactor.foxycart.com/cart" method="post" accept-charset="utf-8">
							  <div id="[[*pagetitle:lcase:replace=` ==_`:urlencode]]" class="grid_4">
								  
							  		<span class="cost">$[[*service_price]]</span>
							
							  		<div class="controls">
							  			<input type="hidden" name="name" value="[[*pagetitle]]" />
							  			<input type="hidden" name="category" value="Downloadable Product" />
							  			<input type="hidden" name="code" value="[[*service_id]]" />
							  			<input type="hidden" name="price" value="[[*service_price]]" />
							  			<input type="hidden" name="quantity" value="1" />
							  		</div>
							  		<div class="controls">
							  		  <input type="submit" value="ADD TO CART" class="yellow"/>
							  		</div>
							
							  </div><!--/.grid_12-->
							</form>
							`:else=`
								<a href="[[*service_url]]" class="generalButton yellow" title="Buy Now" target="_blank">Buy Now</a>
							`]]
							
						`]]
						
						
						[[*service_method:is=`learn`:then=`
							[[*service_price:isnt=``:then=`
								<span class="cost">$[[*service_price]]</span>
							`]]
							[[*service_url:is=``:then=`
							<a data-toggle="modal" href="#contactModal" class="generalButton yellow" title="Contact Us">Learn More</a> 
							`:else=`
							<a href="[[*service_url]]" class="generalButton yellow" title="Learn More" target="_blank">Learn More</a>
							`]]
						
						`]]
						
						
						
						[[*service_method:is=`contact`:then=`
						[[*service_price:isnt=``:then=`
								<span class="cost">$[[*service_price]]</span>
							`]]
						[[*service_url:is=``:then=`
							<a data-toggle="modal" href="#contactModal" class="generalButton yellow" title="Contact Us">Contact Us</a> 
						`:else=`
							<a href="[[*service_url]]" class="generalButton yellow" title="Contact Us" target="_blank">Contact Us</a>
						`]]
						
						`]]
						
						
					</div><!--/.col-->
					
					<div  class="col-lg-12">
						[[*content]]
					</div><!--/.col-->
					
					
				</div><!--/.row-->
			</div>
		</div>
	</div>
</section>
[[$footer]]
