[[$head]]
[[$header]]
<section class="lightSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-3 col-md-3 col-ms-4 hidden-sm hidden-xs">
				<div id="sidebarNav">
					<a href="[[~3]]" class="title">All</a>
					<a href="[[~16]]" class="title [[*id:is=`16`:then=`active`]]">Individual</a>
					[[Wayfinder? &startId=`16` &level=`1`]]
					<a href="[[~15]]" class="title [[*id:is=`15`:then=`active`]]" >Corporate</a>
					[[Wayfinder? &startId=`15` &level=`1`]]
					<a href="[[~230]]" class="title [[*id:is=`230`:then=`active`]] hidden" >Additional Resources</a>
					[[$instafeed]]
					<a class="generalButton" data-toggle="modal" href="#toolkitModal"  title="Join">[[++toolkit_title]]</a>
				</div>
			</div>
			<div class="col-xs-12 col-lg-9 col-md-9 col-ms-8">
				<div id="service-modules" class="row">
					<div class="mobile-trigger-right visible-sm visible-xs generalButton">Filter</div>
					[[*id:isnt=`3`:then=`[[Breadcrumbs? &showHomeCrumb=`0` &currentAsLink=`0`]]`]]
					[[*content]]
					
				</div><!--/.row-->
			</div>
		</div>
	</div>
</section>
[[$footer]]
