[[$head]]
[[$header]]
<section class="lightSection">
	<div class="container"> 
		<div class="row">
			<div class="col-xs-12 col-lg-3 col-md-4 col-ms-4 hidden-sm hidden-xs">
				[[$blog_sidebar]]
			</div><!--/.col-->
			<div class="col-xs-12 col-lg-9 col-md-8 col-ms-8 blogRoll">

				[[*id:is=`12`:then=`
					[[!SimpleSearch]]
					[[Articles? &container=`8`]]
				`]]
				[[*id:is=`8`:then=`
					[[+articles]]
				`]]
				[[*id:is=`173`:then=`[[Articles? &container=`8`]][[!getResourcesTag? &parents=`8` &includeTVs=`1` &processTVs=`1` &tagKey=`blog_category` &tpl=`blog_list_item` &includeContent=`1` &limit=`1000` &sortby=`publishedon`]]`]]    
				
				[[!+page.nav:notempty=`
				<div class='paging'>
					<ul class='pageList'>
						[[+paging]]
					</ul>
				</div>
				`]]
				[[*id:is=`8`:then=`
					<div class="testimonial">
						<span class="quote">
							“[[*blog_testimonial]]”
						</span><!--/.quote-->
						<span class="author">[[*blog_testimonial_author]]</span>
					</div><!--/.testimonial-->
				`]]
			</div><!--/.col-->
		</div><!--/.row-->
	</div><!--/.container-->
</section>
[[$footer]]