[[$head]]
[[$header]]
<section class="lightSection">
	<div class="container">
		<div class="row">

			<div class="col-xs-12">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
				[[*content]]
			</div><!--/.col-->
		
		</div><!--/.row-->
	</div><!--/.container-->
</section>
<hr />
[[$footer]]  