/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{ 
	overflow-x: hidden;
	color: black; 
   font-family: @font-family-sans-serif;
}/*Eof body*/
hr{
	background: url('/assets/img/elements/divider-texture_1200x18.jpg') center center repeat-x;
	margin: 0;
	border: 0;
	height: 18px;
}/*Eof hr*/
h1,
.testimonial .quote{
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	padding-left: 100px;
	@media(max-width: 1170px){
		padding-left: 80px;
	}
	&:before{
		content: '';
		border-top: 4px solid @xyellow;
		width: 69px;
		display: block;
		margin-top: 10px;
		position: absolute;
		left: 15px;
	}
}/*Eof h1*/
h2{
	font-weight:bold;
	font-size: 18px;
}/*Eof h2*/
h3{
	font-weight: bold;
	font-size: 16px;
	color: @xyellow;
	text-transform:uppercase;
	//background:black;
}/*Eof h3*/
h4{
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 22px;
}
p{
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 15px;
	strong{
		color: @xgray;
	}
}/*Eof p*/
.generalButton,
input[type="submit"]{
	text-transform: uppercase;
	background-color: black;
	color: @xyellow;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	border: 2px solid black;
	padding: 8px 7px;
	@media(max-width: 1179px){  
			padding: 8px 20px;
	}
	&:hover, &:active, &:focus{
		text-decoration:none;
		color: black;
		border-color: black;
		background-color: @xyellow;
	}
	&.yellow{
		background-color: @xyellow;
		border: 2px solid @xyellow;
		color: black;
		&:hover, &:active{
			color: @xyellow;
			background-color: black;
			border-color: @xyellow;
		}
		&.padTopButton{
			padding: 10px 15px 10px 15px; 
		}
		&.padBottomButton{
			padding: 10px 15px 10px 7px; 
		}
	}
}/*Eof generalButton*/

.paging{
	text-align: center;
	ul{
		width: 100%;
		text-align: center;
		padding: 0;
		margin-bottom:-20px;
		li{
			list-style-type:none;
			display:inline-block;
			margin-bottom: 20px;
			.generalButton{
				padding: 8px 7px;
			}
			a.generalButton.active{
				color: @xyellow;
				&:hover,
				&:active{
					background-color: black;
				}
			}
			&.control{
				margin: 0 6px;
			}
		}
	}	
}

#socialMedia{
	padding-top: 69px;
}/*Eof socialMedia*/

header{
	z-index: 10;
  position: relative;
}/*Eof header*/

.type-1 header{
	@media(min-width: 723px){
		position: absolute;
		width: 100%;
		margin: 0 auto;
	}
}

.mobileHeader{
	height: 27px;
	background-color: black;
	.mobile-trigger-left{
		background: url('/assets/img/elements/header-mobile-nav_44x27.png') -10px center no-repeat transparent;
		.at2x('/assets/img/elements/header-mobile-nav_44x27', 'png', 44px, 27px);
		height: 27px;
		width: 44px;
		cursor:pointer;
	}
}/*Eof mobileHeader*/

.headerLogo{
	display: block;
    margin-top: 20px;
    max-width:224px;
    @media(max-width: 1200px){
			margin-bottom: 10px !important;
		}
    @media(max-width: 722px){
		margin: 0 auto;
		padding: 1px 0;
	}
	img{
		padding-top: 5px;
		@media(max-width: 1200px){
			margin-top: -8px !important;
		}
		@media(max-width: 722px){
			padding-top: 0;
			margin-top: 0 !important;
		}
	}
}/*Eof headerLogo*/

.upperHeader{
	background-color: @xgray;
	text-align: center;
    p{
		margin:0 !important;
	  padding: 20px 0;
		color: white;
		letter-spacing: .1px;
		text-align:left;
		float:left;
		max-width: 80%;
		@media(max-width:1169px){
			padding: 5px 0;
		}
		@media(max-width: 820px){
			font-size: 14px;
	    }
	    @media(max-width: 722px){
			padding: 10px 0;
	    }
	    @media(max-width: 650px){
			width: 80%;
			margin: 0;
			padding-right: 10px;
			font-size: 12px;
			line-height: 20px;
	    } 
    }
	a{
		display: inline-block;
		float: right;
		margin: 11px 33px 0 0;
		@media(max-width: 980px){
		margin-right:0;
		}
		@media(max-width: 820px){
			font-size: 14px;
			padding: 5px 16px;
			margin-top: 13px;
		}
		@media(max-width: 722px){
			font-size: 12px;
			padding: 1px 10px;
			margin-top: 8px;
		}
		@media(max-width: 579px){
			width: 20%;
			margin-top: 15px;
			white-space: nowrap;
			font-size: 11px !important;
			padding: 0 !important;
		}
	}
}/*Eof upperHeader*/

.lowerHeader{
  background-color: white;
}/*Eof lowerHeader*/

header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		padding: 0 0;
		margin: 0;
		float: left;
		a{
			padding: 37px 20px;
			display: block;
			width: 100%;
			background-color: white;
			text-decoration: none;
			color: black;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			@media(min-width:1200px){
				padding: 30px 15px !important;
			}

			@media(max-width:1199px){
				padding: 30px 10px !important;
				font-size: 17px !important;
			}
			@media(max-width:980px){
				padding: 30px 10px !important;
				font-size: 15px !important;
			}
			@media(max-width:890px){
				padding: 30px 5px !important;
				font-size: 13px !important;
			}
		}
		a:hover, a:active, a:focus, &.active a{
			background-color:  @xyellow;	
			text-decoration: none;
			color: black;
		}
	}
}/*Eof header ul*/
  


#home_slider{
	margin-top:-250px;
	z-index: 0;
	position: relative;
	width:100%;
	overflow: hidden;
	max-height: 1000px;
	border-bottom: 12px solid @xyellow;
	@media(max-width:1500px){
		margin-top:-170px;
	}
	@media(max-width:1000px){
		margin-top: -100px;
	}
	@media(max-width:722px){
		overflow:visible;
		border-bottom: 0;
	}
	@media(max-width:500px){
		margin-top: -50px;
	}
	.slider{
		.slide{
			width: 100%;
			img{
				width: 100%;
				margin: 0 auto;
				height: auto;
			}
			.container{
				position: absolute;
				z-index: 300;
				top: 40%;
				max-width: 940px !important; 
				margin: 0 auto;
				padding:0;
				left: 0;
				right: 0;
				display:block;
				max-width: 1200px;
				@media(max-width: 722px){
					top: auto;
					bottom: 0;
					background-color: @xgray;
					margin-bottom: -60px;
				}
				span{
					padding-right: 100px;
					display:block;
					font-size: 38px;
					color: white;
					font-weight: 300;
					-webkit-font-smoothing: antialiased;
					line-height: 45px;
					padding-left: 15px;
					@media(max-width: 1000px){
						padding-right: 50px; 
						font-size: 34px;
						line-height: 42px;
					}
					@media(max-width: 910px){
						font-size: 34px;
						line-height: 42px;
					}
					@media(max-width: 880px){
						font-size: 28px;
						line-height: 36px;
						padding-right: 20px;
					}
					@media(max-width: 810px){
						font-size: 22px; 
						line-height: 28px;
						padding-right: 25%;
					}
					@media(max-width: 722px){
						padding: 10px 15px;
						-webkit-font-smoothing: subpixel-antialiased;
						letter-spacing: .2px;
						font-size: 20px;
						line-height: 25px;
						border-bottom: 12px solid @xyellow;
					}
					@media(max-width: 520px){
						font-size: 18px;
					}
					@media(max-width: 490px){
						font-size: 15px;
						line-height: 20px;
					}
				}/*Eof span*/
			}/*Eof container*/
		}/*Eof slide*/
	}/*Eof slider*/
	.pager{
		margin-top: -175px;
		margin-left: -3px;
		position: relative;
		z-index: 400; 
		display:none; //fix later
		a{
			background: url('/assets/img/elements/home-rotator-dots_16x32.png') center top no-repeat transparent;
			.at2x('/assets/img/elements/home-rotator-dots_16x32', 'png', 16px, 32px);
			width: 20px;
			height: 16px;
			display: block;
			float: left;
			&:hover, 
			&.cycle-pager-active{
				background-position: center bottom;
			}
		}
		@media(max-width:722px){
			margin-top: 0;
		}
	}/*Eof pager*/
}/*Eof home_slider*/

.type-1 #home_slider{
	@media(min-width: 723px){
		margin-top: 0;
	}
}

#circles{
	padding-bottom: 140px;
	@media(max-width:1179px){
		padding-bottom: 60px;
	}
}/*Eof circles*/
.circle{
	margin-top: -120px;
	display: block;
	width: 100%;
	height: 315px;
	padding-top: 315px;
	text-decoration: none; 
	&:hover,
	&:active,
	&:focus{
		text-decoration: none; 
	}
	@media(max-width: 1179px){
		height: auto;
		padding-top: 100%;
	}
	@media(max-width: 722px){
		margin-top: 75px;
	}
	span{
		display: block;
		color: black;
		width: 100%;
		font-weight: bold;
		text-align: center;
		background-color: #F9D408;
		padding: 20px 20px 19px 20px;
		text-transform: uppercase;
		margin-top: -12px;
		font-size: 30px;
		@media(max-width: 850px){
			font-size: 24px;
			padding: 16px 20px 15px 20px;
		}
		@media(max-width: 722px){
			font-size: 20px;
			padding: 12px 20px 11px 20px;
		}
		@media(max-width: 490px){
			font-size: 16px;
			padding: 10px 20px 9px 20px;
			margin-top: -9px;
		}
		@media(max-width: 420px){
			font-size: 12px;
			padding: 10px 20px 9px 20px;
			margin-top: -5px;
		}
	} 
	&:hover span,
	&:active span{
		color: @xyellow;
		background-color: @xgray;
		text-decoration: none; 
	}
}/*Eof circle*/
#individualLink{
	background: url('/assets/img/elements/home-icon-individual_315x315.png') top center no-repeat;
	 background-size: contain;
	&:hover,
	&:active{
		background: url('/assets/img/elements/home-icon-individual-hover_315x315.png') top center no-repeat;
		background-size: contain;
	}
}/*Eof individualLink*/
#corporateLink{
	background: url('/assets/img/elements/home-icon-corporate_315x315.png') top center no-repeat;
	background-size: contain;
	&:hover,
	&:active{
		background: url('/assets/img/elements/home-icon-corporate-hover_315x315.png') top center no-repeat;
		background-size: contain;
	}
}/*Eof corporateLink*/

.circles_icon_hover_1{
			background: url('/assets/img/elements/home-icon-individual-hover_315x315.png') top center no-repeat;
}
.circles_icon_hover_2{
		background: url('/assets/img/elements/home-icon-corporate-hover_315x315.png') top center no-repeat;
}

.blackSection{
	background: black;
	padding: 60px 0;
}/*Eof blackSection*/
.lightSection{
	background: #F7F7F7;
	padding: 60px 0;
	h1{
		margin-bottom:23px;
		margin-top: 7px; 
	}
	h2{
		color: @xgray;
		font-size: 24px;
		margin-bottom: 25px;
	}
}/*Eof lightSection*/
/*
.cta1{
	background: url('/assets/img/elements/placeholder-service-icon-2_81x81.png') center 20px no-repeat;
}
.cta2{
	background: url('/assets/img/elements/placeholder-service-icon-1_81x81.png') center 20px no-repeat;
}
.cta3{
	background: url('/assets/img/elements/placeholder-service-icon-3_81x81.png') center 20px no-repeat;
}
.cta4{
	background: url('/assets/img/elements/placeholder-service-icon-4_81x81.png') center 20px no-repeat;	
}
*/
.ctas{
	margin-left: 3px;
	.row-same-height{
		@media(max-width: 750px){
			background-color: black;
			padding-right:20px;
		}
	}
	.col-md-3{
		background-color: @xyellow;
		width: 25%;
		border-right: 20px solid black;
		float:none; 
		@media(max-width: 750px){
			width: 100%;
			border: 0; 
			float:left !important;
			clear:both; 
			margin-bottom: 20px;
		}
	}
	.row-same-height{
		@media(max-width: 750px){
			display:block;
		}
	}
}/*Eof ctas*/
.cta1, .cta2, .cta3, .cta4{
	color: black; 
	padding-top:100px;
	text-align: center;
	background-position:center 20px;
	@media(max-width: 900px){
		padding-top: 75px;
		background-position: center 5px;
	}
	@media(max-width: 722px){
		margin-bottom: 20px;
		padding-bottom: 0;
	}
	h2{
		text-transform: uppercase;
		margin: 14px 0; 
	}
	h2{
		padding: 0;
		text-align: left;
		line-height: 1.5;
		@media(max-width: 900px){
			font-size: 15px;
			line-height: 20px;
		}
	}
	p{
		padding: 0 0 85px 0;
		font-size: 14px;
		text-align: left; 
		font-weight: bold;
		line-height: 21px;
	}
	.buttonContainer{
		position:absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}
	a{
		padding: 10px 10%;
		margin-top: 20px;
		margin-bottom: 25px;
		display: inline-block;
		&.generalButton{
			margin-bottom: 15px;
		}
	}
	p{
		margin-bottom: 0; 
	}
}/*Eof .cta1, .cta2, .cta3, .cta4*/
.cta4{
	@media(max-width:722px){
		margin-bottom: 0;
	}
}
.latestPost,
.blogRoll{
	color: @xgray;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
	h2{
		text-transform: capitalize;
	}
	@media(max-width: 830px){
		font-size: 15px;
		line-height: 22px;
	}
	@media(max-width: 722px){
		margin-bottom: 30px;
	}
	h1{
		color: black;
		font-style: normal;
		margin-bottom: 40px;
		margin-top:0;
		@media(max-width: 830px){
			font-size: 20px;
		}
	}
	a{
		color: @xblue;
		font-style: normal;
		font-weight: bold;
		&.title{
			font-size: 20px; 
		}
		&:hover,
		&:active{
			color: @xblue;
		}
	}
	img{
		height: auto;
		@media(max-width: 830px){
			width: 43px;
		}  
	}
	.blogPost{
		margin-top: 10px;
		p{
			font-weight: bold;
			font-size: 17px;
			color: black;
			line-height: 28px;
			@media(max-width: 830px){
				font-size: 15px;
				line-height: 24px;
			}
		}
		.generalButton{ 
			float:right;
			margin-top: 0;
			@media(max-width: 722px){
				margin-bottom: 30px;
				margin-top: -5px;
			}		
		}
	}/*Eof blogPost*/
	.blogPostFooter{
		margin-top: -15px;
		margin-bottom: 40px;
		font-weight:bold;
		font-style: normal;
		span{
			margin-left: -2px;
			margin-right: 2px;
			&:last-child{
				display: none;
			}
		}
	}//blogPostFooter 
	.sisea-result{
		h3{
			color: @xblue;
			font-style:normal;
			a{
				color: @xblue;
				&:hover,
				&:active{
					color: @xblue;
				}
			}
		}
		p{
			font-style: normal;
			color: black;
		}
	}//sisea
}
.blogRoll .blogPost p{
	font-style: normal;
	font-weight: normal;
}
.blogPost{
	img{
		float:left;
		margin-right:20px;
		margin-bottom: 10px;
	}
	.back{
		float:right;
		cursor: pointer;
		margin-top: -45px;
		padding: 5px 15px;
		font-size: 12px;
		background-color: black;
		color: @xyellow;
		margin-right: 15px;
		@media(max-width: 560px){
			font-size: 10px;
		}
		&:hover,
		&:active{
			color: black;
			background-color: @xyellow;
		}
	}
	ul li{
		font-size: 16px;
		line-height: 28px;
		padding-bottom: 10px;
	}
}
.whiteSection{
	padding: 60px 0;
	background-color: white;
	h3{
		padding:20px;
		text-align: center;
	}
	.generalButton &.Yellow{
		float: right;
		padding: 5px 15px;
	}
}/*Eof whiteSection*/
.toolkit{
	background-color: @xyellow;
	padding-bottom: 20px;
	h3{
		margin-top: 0;
		background-color: black;
	}
	p{
		font-weight: bold;
		padding: 18px 30px;
		font-size: 14px;
		line-height: 22px;
	}
	img{
		float:right;
		margin-top: -45px;
		margin-left: 15px;
		@media(max-width: 1169px){
			margin-top: 0;
		}
		@media(max-width: 940px){
			max-height: 150px;
			width: auto;
		}
	}
	.generalButton{
		display: block;
		margin: 10px 30px;
		padding: 15px;
		text-align: center;
	}
	#newsletterLink{
		color: black;
		font-weight: bold;
		margin-left: 30px;
		text-decoration: none;
		margin-top: 8px;
		display:inline-block;
		&:after{
			content:"";
			width: 0; 
			height: 0; 
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent; 
			border-left: 6px solid black; 
			display: inline-block;
			margin-left: 10px;
		}
	}
	.response{
		margin-bottom: 20px;
		color: @xblue;
	}
}/*Eof toolkit*/
#mc_embed_signup{
	position: relative;
}
#mce-responses{
		margin-bottom:20px !important;
	}
	
#mce-success-response{
	position:absolute;
	top: 15px;
	z-index: 1000;
	background-color: white;
	font-weight: bold;
	height: 100%;
}
#toolkitModal{ 
	form{
		padding: 15px;
	}
	input[type="text"]{
		margin-bottom: 15px;
	}
}
#contactModal{
	.row{
		padding: 15px;
	}
	p{
		padding-bottom: 8px;
		strong{
			color: black;
		}
	}
	h1{
		margin-top: 40px;
		margin-bottom: 20px;
	}
	span{
		font-weight:bold;
		line-height: 25px;
		a{
			color: white;
		}
		a.email{
			background: url('/assets/img/elements/contact-email-icon_29x19.jpg') center center no-repeat white;
			width: 29px;
			height: 29px;
			display: block;
			position:absolute;
			background-color: white !important;
			top: 25px;
			right: 0;
			margin-right: 30px;
		}
	}
}
.closeModal{
		background: url('/assets/img/elements/x-out-button_44x88.png') top center no-repeat;
		float: right;
		width: 44px;
		height: 44px;
		display:block;
		text-align: right;
		position: relative;
		z-index: 1000;
		&:hover,
		&:active{
			background-position: bottom center;
		}
	}
.blog-mention-list{
	h2{
		margin-bottom: 15px;
	}
	a{
		color: @xblue;
		font-weight: bold;
		font-size: 16px;
		padding: 13px 0; 
		display:inline-block;
	}
}
#aboutNumbers{
	color: white;
	text-align: center;
	h2{
		text-transform: uppercase;
		margin: 0 0 20px 0;
		font-size: 24px;
	}
	p{
		color: @xyellow;
		font-size: 96px;
		font-weight: bold;
		line-height: 93px;
		margin-bottom:5px;
		@media(max-width:930px){
			font-size: 86px;
			line-height: 83px;
		}
		@media(max-width:810px){
			font-size: 70px;
			line-height: 67px;
		}
	}
	span{
		font-size: 16px;
		@media(max-width:722px){
			display:block;
			margin-top: -10px;
			margin-bottom: 25px;
		}
	}
}
.about-bios{
	@media(max-width:722px){
		text-align:center;
	}
	img{
		border: 5px solid @xyellow;
		max-width: 100%;
		@media(max-width:722px){
			width: 50%;
			height: auto;
		}
	}
	h3{
		font-size: 20px;
		color: @xgray;
		margin: 20px 0 15px 0;
		line-height: 28px;
		text-transform: none;  
	}
	p{
		text-align: left;
	}
	.col-md-6:first-child{
		.generalButton{
			@media(max-width:722px){
				margin-bottom: 40px;
				display:inline-block;
			} 
		}
	}
	.col-lg-5:last-child{
		@media(min-width:1170px){
			margin-left: 20px;
		}
	}
	a.generalButton{
		width: 160px;
		text-align: center;
		margin-top: 15px;
	}
}
#sidebarNav{
	border-right: 3px solid @xyellow;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom:30px;
	margin-top:-30px;
	margin-bottom: -30px;
	a.title,
	span.title{
		text-transform: uppercase;
		color: black;
		font-size: 18px;
		font-weight: bold;
		display:block;
		margin: 30px 0 20px 0;
		&:hover,
		&:active,
		&.active{
			color: black;
			text-decoration: underline;
		}
		@media(min-width:723px)and(max-width: 815px){
			font-size: 15px;
		}
	}
	span.title{
		&:hover,
		&:active{
			color: black;
			text-decoration:none;
		}
		span{
			display: none;
		}
	}
	ul{
		padding: 0;
		margin: -10px 0 0 0;
		li{
			list-style-type:none;
			width: 100%;
			padding: 0;
			visibility:collapse;
			a{//font size was 16px, color @xblue
				color: black;
				font-size: 18px;
				display: block;
				padding: 5px 0;
				font-weight:bold;
				-webkit-font-smoothing: antialiased;
				visibility:visible;
				&:hover,
				&:active{
					color: black;
					text-decoration: underline;
				}
			}
			&.active{
				a{
					color: black;
					text-decoration: underline;
				}
			}
		}
	}
	.generalButton{
		font-size: 14px;
		display:block;
		text-align: center; 
		padding: 10px;
	}
	#instagramFeed,
	#instafeed{
		width: 100%;
		height: 150px;
		background-color: black;
		display:block;
		margin-bottom: 25px;
		overflow:hidden;
		a{
			width: 100%;
			display:block;
			text-align: center; 
		}
	}
	form{
		@media(max-width: 1055px){
			margin-right: -30px;
		}
		input[type="submit"]{
			background: url('/assets/img/elements/blog-search-icon_22x19.png') center center no-repeat transparent;
			.at2x('/assets/img/elements/blog-search-icon_22x19', 'png', 22px, 19px);
			background-color: @xyellow;
			border: 0;
			width: 30px;
			height: 27px;
			float:left;
			margin: -1px;
			&:hover{
				background-color: @xblue;
			}
		}
		input[type="text"]{
			padding: 2px 5px;
			float:left;
			border: 0;
		}
		fieldset{
			border: 1px solid @gray-lighter;
			float:left;
		}
	}
	@media(max-width: 722px){
		border:0;
		padding-right: 0;
	}
}
.type-7 #sidebarNav ul li,
.type-10 #sidebarNav ul li{
	height: 32px;
}

.testimonial{
	margin-top: 50px;
	.quote{
		color: black;
		display:block;
		font-size: 28px;
		line-height: 38px;
		@media(min-width:723px)and(max-width: 815px){
			font-size: 24px;
			line-height: 34px;
		}
	}
	.author{
		color: black;
		float:right;
		font-size: 24px;
		font-weight: bold;
		font-style:normal;
		margin-top: 5px;
		@media(min-width:723px)and(max-width: 815px){
			font-size: 18px;
		}
	}
}

.comments{
	h2{
		font-size: 18px;
		text-transform:uppercase;
		color: black;
	}
	h3{
		margin-top: -5px;
	}
	.quip-avatar{
		display: none;
	}
	.quip-error{
		display:block;
	}
	form{
		.quip-fld{
			margin: 0;
			input{
				border-color: @gray-lighter;
			}
		}
		#quip-comment-name-qcom{
			margin-bottom: 20px;
		}
		p{
			color: black;
		}
		label[for="quip-comment-website-qcom"]{
			display: none;
		}
		#quip-comment-website-qcom{
			display: none;
		}
		textarea{
			margin-bottom: 20px;
			border-color: @gray-lighter;
		}
		button{
			background-color: @xyellow;
			color: black;
			text-transform:uppercase;
			font-size: 14px;
			border: 2px solid @xyellow;
			font-weight:bold;
			padding: 7px 8px;
			&:hover{
				color: @xyellow;
				border-color: black;
				background-color: black;
			}
		}
	}
	.quip-comment{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid @gray-lighter;
	}
	.quip-success{
		margin-top: -15px;
		margin-bottom: 15px;
		display:block;
	}
}

.facilities{
	#slideshow{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		height: auto;
		max-height: 400px;
		overflow: hidden;
		img{
			text-align: center;
			margin: 0 auto;
			width: 100%;
			height: auto
		}
	}
	.arrows{
		width: 100%;
		height: 100%;
		padding: 0 15px;
		position:absolute;
		top: 0;
		z-index: 2000;
		a{
			width: 42px;
			height: 42px;
			display:block;
			position:absolute;
			margin: auto;
			top: 0;
			bottom:0;
			&.prev{
				background: url('/assets/img/elements/facilities-left-arrow_42x84.png') top center no-repeat transparent;
			.at2x('/assets/img/elements/facilities-left-arrow_42x84', 'png', 42px, 84px);
						&:hover,
						&:active{
							background-position: bottom center;
						}
				left: 15px;
			}
			&.next{
				background: url('/assets/img/elements/facilities-right-arrow_42x84.png') top center no-repeat transparent;
			.at2x('/assets/img/elements/facilities-right-arrow_42x84', 'png', 42px, 84px);
				right: 15px;
					&:hover,
					&:active{
						background-position: bottom center;
					}
			}
		}
	}
	.pager{
		margin-right: -10px;
		a{
			display: inline-block;
			max-height: 75px;
			overflow:hidden;
			padding-right: 10px; 
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	h2{
		color: black;
	}
	iframe{
		border: 6px solid @xyellow !important;
		margin-top: 17px;
		display:block;
		overflow:hidden;
		width: 100%;
		height: 400px;
		pointer-events: none;
		@media(max-width: 922px){
			height: 250px;
		}
	}
	.col-md-6 p{
		margin-bottom:0;
		padding-bottom: 0;
	}
	h4{
		color: @xgray;
		text-transform: none;
		margin-top: 25px;
		font-size: 20px;
		margin-bottom: 7px;
	}
	a{
		color: @xblue;
		&:hover,
		&:active{
			color: @xblue;
		}
	}
}

#general-form{
	h3{
		margin: 40px 0 15px 0;
		color: black;
		font-weight: bold;
		font-size: 20px;
	}
	.row{
		margin-bottom: 20px;
		@media(max-width: 589px){
			margin-bottom: 0;
			.form-group{
				margin-bottom: 20px;
			}
		}
	}
	label{
		display:block;
	}
	input{
		padding: 5px;
	}
	input,
	textarea{
		width: 100%;
		border: 1px solid @gray-lighter;
	}
	textarea{
		height: 75px; 
	}
	.checkboxes{
		input{
			width: inherit;
			margin-right: 10px; 
		}
	}
	input[type="submit"]{
		padding: 10px 21px;
		display:block;
		width: inherit;
	} 
	.success{
		color: @xyellow;
		font-size: 22px;
		position:absolute;
		top: -10px;
	}
}

.goal-form .success{
	top: -40px !important;
}

footer{
	@media(max-width: 722px){
		padding-bottom: 23px;
		background-color: black;
	}
	.left{
		background-color: @xyellow;
		text-align:right;
	}
	.container-fluid{
		position: relative;
	}
	.container{
		position:relative;
		z-index:100;
	}
	.bg-yellow{
		position:absolute;
		bottom:0;
		width: 100%;
		height: 100%;
		z-index: 50;
		background-color: @xyellow;
	}
	.bg-gray{
		position:absolute;
		width: 100%;
		height: 65px;
		background-color: @xgray;
		z-index: 60;
		top: 0;
		right: 0; 
		left: 50%;
	}
	.bg-black{
		background-color: black;
		width: 100%;
		position: absolute;
		z-index: 55;
		bottom:0;
		right: 0;
		left: 50%;
		height: 100%;
	}
	.col-md-9{
		@media(max-width:722px){
			padding: 0;
			margin: 0;
			.row{
				width: 100%;
				margin: 0;
			}
		}
	}
	#footerLogo{
		margin-top:0px;
		background: url('/assets/img/elements/footer-logo_236x55.png') no-repeat;
		background-size: contain;
		display: block;
		width: 100%;
		height: 55px;
		display: block;
		float:right;
		margin: 30px 0 10px 0;
		@media(max-width: 722px){
			margin-top: 70px;
			position: absolute;
		}
		@media(max-width: 450px){
			width: 40%;
		}
	} 
	#socialMedia{
		margin-bottom: 11px;
		@media(max-width: 722px){
			margin-top:-50px;
		}
		#facebook{
			background: url('/assets/img/elements/footer-facebook_35x35.png') no-repeat;
			display: inline-block;
			width: 35px;
			height: 35px;
		}
		#twitter{
			background: url('/assets/img/elements/footer-twitter_35x35.png') no-repeat;
			display: inline-block;
			width: 35px;
			height: 35px;		
		}
		#blogger{
			background: url('/assets/img/elements/footer-blogger_35x35.png') no-repeat;
			display: inline-block;
			width: 35px;
			height: 35px;		
		}
		#instagram{
			background: url('/assets/img/elements/footer-instagram_35x35.png') no-repeat;
			display: inline-block;
			width: 35px; 
			height: 35px;		
		}
		#pinterest{
			background: url('/assets/img/elements/footer-pinterest_35x35.png') no-repeat;
			display: inline-block;
			width: 35px; 
			height: 35px;		
		}
	}
	#copyright{
		font-size: 12px;
		font-style:italic;
		margin-bottom: 30px;
		text-align: right;
		@media(max-width: 870px){
			white-space: nowrap;
			font-size: 10px;
			float:right;
		}
		@media(max-width: 750px){
			margin-right: -5px;
		}
		@media(max-width: 722px){
			float: none;
			margin: 0;
			padding-bottom: 20px;
		}
		a{
			color: black;
			font-weight: bold;
			&:hover,
			&:active{
				color: black;
				text-decoration: underline;
			}
		}
	}//copyright
	.top{
		background-color: @xgray;
		ul{
			padding:0;
			margin:0;
			width: 100%;
			li{
				display:inline-block;
				width: 30%;
				list-style-type:none;
				padding: 0;
				text-align: center;
				color: white;
				font-size: 18px;
				text-transform: uppercase;
				padding: 20px 0;
				@media(max-width: 722px){
					padding: 10px 0;
				}
			}
		}//ul
	}//top
	.bottom{
		padding-top: 30px;
		background-color: black;
		.generalButton{
			width: 100%;
			display: block;
			text-align: center;
			margin-bottom: 20px;
			@media(max-width: 950px){
				padding: 8px 0;
			}
			@media(max-width: 805px){
				font-size: 12px;
			}
			@media(max-width: 722px){
				width: 45%;
				display: inline-block;
				float:left;
				&:first-child{
					margin-right: 10%;
				}
			}
		}
		ul{
			padding:0;
			margin: 0;
			width: 50%;
			float: left;
			@media(max-width: 722px){
				width:30%;
			}
			@media(max-width: 590px){
				width:50%;
			}
			li{
				padding:0;
				list-style-type:none;
				a{
					color: white;
					font-size: 16px;
					text-transform: uppercase;
					padding-bottom:10px;
					display:block;
					@media(max-width:800px){
						font-size: 14px;
					}
					&:hover,
					&:active{
						color: @xyellow;
						text-decoration:none;  
					}
				}
			}
		}//ul
		span{
			color: white;
			font-size: 16px;
			-webkit-font-smoothing: antialiased;
			position:relative;
			display:block;
			width: 100%;
			&:first-child{
				margin-bottom: 10px;
				@media(max-width: 600px){
					margin-right: 10%;
				}
			}
			@media(max-width: 722px){
				float:left;
				width: 30%;
			}
			@media(max-width: 600px){
				float:left;
				width: 45%;
				margin-top: 15px;
			}
			a{
				color: white;
			}
			a.email{
				background: url('/assets/img/elements/footer-email-icon_29x19.jpg') no-repeat;
				width: 29px;
				height: 29px;
				display: block;
				position:absolute;
				top: 25px;
				right: 0;
				@media(max-width:800px){
					font-size: 14px;
				}
			}
		}
	}//bottom
	.row{
		overflow:hidden; 
	}
	.col-md-9{
		padding-bottom: 1000px;
	  margin-bottom: -1000px;
	  height: 100%;
	  background-color: black;
	}
}//footer

.page-7{
	#content_container{
		background-color:black;
	}
	.blackSection{
		h1{
			font-size: 75px;
			color: @xyellow;
			padding: 0;
			text-transform: uppercase;
			&:before{
				border: 0;
			}
		}
		h2{
			font-size: 28px;
			color: @xyellow;
			text-transform: uppercase;
		}
		h3{
			font-size:18px;
			color: @xyellow;
			line-height: 3;			
		}
		h4{
			font-size: 18px;
			color: white;
			font-weight: bold;
			line-height: 3;
		}
		p{
			font-size: 16px;
			color: white;
		}
	}
}/*Eof page-7*/
.service{
	color: black;
	background-color: @xyellow;
	text-align: center;
	h2{
		text-transform: uppercase;
	}
	h2, p{
		padding: 0 35px;
		text-align: left;
		line-height: 1.5;
	}
	a{
		padding: 10px 10%;
		margin-top: 20px;
		margin-bottom: 25px;
		display: inline-block;
	}
}/*Eof service*/

.service,
#service-modules,
#service-detail h1,
.ctas .cta{
	.apple,
	&.apple{ 
		background: url('/assets/img/elements/service-icon-apple_81x81.png') center 15px no-repeat;
	}
	.briefcase,
	&.briefcase{
		background: url('/assets/img/elements/service-icon-briefcase_81x81.png') center 15px no-repeat;
	}
	.network,
	&.network{
		background: url('/assets/img/elements/service-icon-network_81x81.png') center 15px no-repeat;
	}
	.paperbag,
	&.paperbag{
		background: url('/assets/img/elements/service-icon-paper_bag_81x81.png') center 15px no-repeat;	
	}
	.podium,
	&.podium{
		background: url('/assets/img/elements/service-icon-podium_81x81.png') center 15px no-repeat;
	}
	.pot,
	&.pot{
		background: url('/assets/img/elements/service-icon-pot_icon_81x81.png') center 15px no-repeat;
	}
	.stars,
	&.stars{
		background: url('/assets/img/elements/service-icon-stars_81x81.png') center 15px no-repeat;
	}
	.treadmill,
	&.treadmill{
		background: url('/assets/img/elements/service-icon-treadmill_81x81.png') center 15px no-repeat;
	}
	.weight, 
	&.weight{
		background: url('/assets/img/elements/service-icon-weight_81x81.png') center 15px no-repeat;
	}
	.weightapple,
	&.weightapple{
		background: url('/assets/img/elements/service-icon-weight_apple_81x81.png') center 15px no-repeat;
	}
	.whistle,
	&.whistle{
		background: url('/assets/img/elements/service-icon-whistle_81x81.png') center 15px no-repeat;
	}
	.yoga,
	&.yoga{
		background: url('/assets/img/elements/service-icon-yoga_81x81.png') center 15px no-repeat;
	} 
}

#service-modules{
	padding-left: 20px;
	@media(max-width: 900px){
		padding-left: 8px;
	}
	@media(max-width: 722px){
		padding-left: 20px;
	}
	.icon{
		width:81px;
		height:81px;
		display:block;
		margin: 0 auto;
		background-position: center center;
		background-size: contain;
		@media(max-width: 900px){
			width: 41px;
			height: 41px;
		}
	}
	td{
		width: 33.33%;
		vertical-align: top;
		position: relative;
		border-right: 20px solid @xOffWhite;
		border-bottom: 20px solid @xOffWhite;
		background-color: @xyellow;
		background-clip: padding-box;
		@media(max-width: 900px){
			float: left;
			width: 100%;
		}
	}
	tr tr:first-child td{
		background-color: transparent;
		border-bottom: 0;
	}
	.module{	
		padding: 11px 15px 55px 15px;
		margin-bottom: 0;
		text-align: center; 
		p{
			text-align: left;
			font-size: 12px;
			line-height: 18px;
			font-weight: bold;
		}
		h4{
			text-align: left;
		}
		.buttonContainer{
			position:absolute;
			bottom: 25px;
			right: 0;
			left: 0;
		}
		.generalButton{
			/*
display: inline-block;
			margin: 0 auto;
			position: absolute;
			bottom: 15px;
			left: 0;
			right: 0;
*/
	
		}
	}
	.mobile-trigger-right{
		float:right;
		cursor: pointer;
		margin-top: -50px;
		padding: 2px 12px;
		font-size: 12px;
		background-color: black;
		color: @xyellow;
		margin-right: 20px;
		@media(max-width: 560px){
			font-size: 10px;
			margin-top: -55px;
		}
		&:hover,
		&:active{
			color: black;
			background-color: @xyellow;
		}
	}
}
.page-3 .mobile-trigger-right{
	@media(max-width: 560px){
		margin-top: -45px !important;
	}
}

.B_crumbBox{
	list-style-type:none;
	padding-left: 0;
	margin: -30px 0 10px 0;
	@media(max-width: 560px){
		font-size: 13px;
		padding-bottom: 5px;
	}
	li{
		display:inline-block;
		a{
			color: @xblue;
			font-weight: bold;
			&:hover,
			&:active,
			&:focus{
				color: @xyellow;
				text-decoration:none;
			}
		}
	}
}

#service-detail{
	@media(max-width: 940px){
	
	}
	.B_crumbBox{
		margin-left: 15px;
		padding-right: 20%;
	}
	img{
		width: 100%;
	}
	.col-lg-12{
		float:left;
		padding-top: 30px;
		width: 100%;
	} 
	.col-md-6{
		@media(max-width: 800px){
			width: 100%;
			img{
				margin-bottom: 20px;
			}
		}
	}
	h1{
		height: 35px;
		margin-top: -12px !important;
		margin-bottom: 30px;
		&:before{
			display:none;
		}
		background-position: center left !important; 
		padding: 5px 0 3px 50px;
		background-size: contain !important;
		margin-top: -30px;
		@media(max-width: 940px){
			font-size: 20px !important;
		}
	}
	.cost{
		float: none;
		display:block;
		font-size: 20px;
		font-weight: bold;
		margin-top: -15px;
		margin-bottom: 30px;
		@media(min-width: 1179px){
			margin-right: 50px;
		}
	}
	form{
		.cost{
			float:right;
			font-size: 20px;
			font-weight: bold;
			margin-top: 8px;
			margin-bottom: 0;
			@media(min-width: 1179px){
				margin-right: 50px;
			}
		}
	}
	.back{
		float:right;
		cursor: pointer;
		margin-top: -60px;
		padding: 2px 12px;
		font-size: 12px;
		background-color: black;
		color: @xyellow;
		margin-right: 15px;
		@media(max-width: 940px){
			margin-top: -48px !important;
		}
		@media(max-width: 560px){
			font-size: 10px;
		}
		&:hover,
		&:active{
			color: black;
			background-color: @xyellow;
		}
	}
}

#testimonials{
	img{
		width: 100%;
		margin-top: 2px;
		margin-bottom:15px;
		border: 5px solid black;
		@media(max-width: 589px){
			max-width: 50%;
			margin: 0 auto;
			display:block;
			margin-bottom:20px;
		}
	} 
	h4{
		margin-top: -20px;
		font-style: italic; 
	}
	hr{
		margin: 20px 0 30px 0;
		height: 0;
		background-image: none;
		border-top: 3px solid @xyellow;
	}
	.row:last-child hr{
		display: none;
	}
}


#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.mobile-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .mobile-drawer{
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active{
          background-color: @xyellow;
          a{
            color: black;
            text-decoration:none;
            &:hover,
            &:active{
	            color: black;
	            text-decoration:none;
            }
          }
          ul li a{
            background-color: white;
            color: black;
            &:hover,
            &:active{
              color: @xyellow;
            }
          }
          ul li.active a{
            color: @xyellow;
          }
        }
        ul{
          li{
            a{
              color: black;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              background-color: white;
              color: @xyellow;
            }
          }
        }
        a{
          color: black;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @gray-light;
          &:hover,
          &:active{
            //background-color: @gray-lighter;
            color: @xyellow;
            text-decoration: none;
          }
          &:focus{
	          text-decoration:none;
          }
        }//a
      }//li
    }//ul
    &.mobile-drawer-left{
      left: 0;
      z-index: 2;
      top: 0;
      bottom: 0;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers

