<div id="sidebarNav">
	[[!SimpleSearchForm? &landing=`12` &tpl=`blog_search_form`]]
	<div class="categories">
		<span class="title">Browse Categories <span class="showMore">+</span></span>
		<ul>
			
			[[*id:is=`8`:then=`
				[[!toLinks? &items=`[[*blog_category]]` &target=`8` &outputDelim=`` &tagKey=`blog_category` &tpl=`tpl-blog_category_list_item`]]
			`:else=`
				[[!toLinks? &items=`
						[[getResources? 
							&parents=`-1` 
							&resources=`8`
						  &tpl=`@INLINE [[+tv.blog_category]]`
						  &includeTVs=`1`
						  &processTVs=`1`
						]]` &target=`8` &outputDelim=`` &tagKey=`blog_category` &tpl=`tpl-blog_category_list_item`]]
			`]]
			
		</ul>
	</div><!--/.categories-->
	<div class="archives"> 
		<span class="title">Browse Archives <span class="showMore">+</span></span>
		<ul>
			[[+archives]]
		</ul>
	</div><!--/.archives-->
	<div class="social hidden-sm hidden-xs">
		[[$instafeed]]
		<a class="generalButton yellow" data-toggle="modal" href="#toolkitModal" >Receive your healthy workday toolkit</a>
	</div><!--/.social-->
</div><!-- /#sidebarNav-->