<strong>	Name:	</strong><br/>[[+fullname]]<br /><br />
<strong>	Age:	</strong><br/>[[+age]]<br /><br />
<strong>	Birthday:	</strong><br/>[[+birthday]]<br /><br />
<strong>	Email:	</strong><br/>[[+email]]<br /><br />
<strong>	Address:	</strong><br/>[[+address]]<br /><br />
<strong>	Phone Number:	</strong><br/>[[+phone]]<br /><br />
<strong>	Occupation:	</strong><br/>[[+occupation]]<br /><br />
<strong>	How Did You Hear About Us?	</strong><br/>[[+hear]]<br /><br />
<h2>	Starting Statistics: 	</h2><br /><br />
<strong>Weight:	</strong><br/>[[+weight]]<br /><br />
<strong>	Height:	</strong><br/>[[+height]]<br /><br />
<strong>	Waist Measurement: 	</strong><br/>[[+waist]]<br /><br />
<strong>	Body Fat % (If Known)	</strong><br/>[[+bodyfat]]<br /><br />
<h2>	Past, Present and Future	</h2><br/>			
<strong>	1. What has brought you in today? What would you like to change?	</strong><br/>[[+ppf1]]<br /><br />
<strong>	2. What are your main motivations? (Why)	</strong><br/>[[+ppf2]]<br /><br />
<strong>	3. What have you tried in the past? Did it work?	</strong><br/>[[+ppf3]]<br /><br />
<strong>	4. What have been your main obstacles? Do they persist?	</strong><br/>[[+ppf4]]<br /><br />
<strong>	5. Out of the following statements, what most represents how you feel. (Checklist)	</strong><br/>[[+ppf5]]<br /><br />
<strong>	Health (Refer to the PAR-Q and Health History Form)	</strong><br/>			
<strong>	1. Do you have adequate health support? (Insurance?, a doctor?)	</strong><br/>[[+health1]]<br /><br />
<strong>	2. When was your last doctor’s appointment?	</strong><br/>[[+health2]]<br /><br />
<strong>	3. Are you currently taking any medications?	</strong><br/>[[+health3]]<br /><br />
<strong>	4. Do you have any “specific” health concerns at this time?	</strong><br/>[[+health4]]<br /><br />
<h2>	Exercise	</h2><br/>			
<strong>	1. Tell me about your current exercise routine. Cardio? Resistance Training?	</strong><br/>[[+ex1]]<br /><br />
<strong>	a. Type of exercises?	</strong><br/>[[+exa]]<br /><br />
<strong>	 b. Days per week?	</strong><br/>[[+exb]]<br /><br />
<strong>	c. Hours per day?	</strong><br/>[[+exc]]<br /><br />
<h2>	Nutrition	</h2><br/>			
<strong>	1. Tell me about your current eating habits.	</strong><br/>[[+nutrition1]]<br /><br />
<strong>	a. Do you know how to cook?	</strong><br/>[[+nutritiona]]<br /><br />
<strong>	b. How many meals eaten per day?	</strong><br/>[[+nutritionb]]<br /><br />
<strong>	c. How many Calories consumed per day? d. Do you log your food?	</strong><br/>[[+nutritionc]]<br /><br />
<strong>	e. Are there any specific “diets” you are trying?	</strong><br/>[[+nutritiond]]<br /><br />
<strong>	f. Would you be willing to modify your eating habits in order to reach your goals.	</strong><br/>[[+nutritione]]<br /><br />
<strong>	g. Are you currently taking any supplements?(If so please list)	</strong><br/>[[+nutritionf]]<br /><br />
<strong>	h. Would you be willing to add supplements to your meal plan if it assisted in	</strong><br/>[[+nutritiong]]<br /><br />
<strong>	reaching your goals?	</strong><br/>[[+nutritionh]]<br /><br />
<strong>	i. Do you have any food allergies?	</strong><br/>[[+nutritioni]]<br /><br />
<h2>	Stress	</h2><br/>			
<strong>	1. On a scale of 1 (low) to 10(very high) how stressed would you say you are today?	</strong><br/>[[+stress1]]<br /><br />
<strong>	2. On that same scale, how stressed are you on an average day?	</strong><br/>[[+stress2]]<br /><br />
<strong>	3. How many hours of sleep do you get per night?	</strong><br/>[[+stress3]]<br /><br />
<strong>	4. Do you have any regular strategy to deal with stress? (meditation? yoga?)	</strong><br/>[[+stress4]]<br /><br />
<strong>	5. Would you be willing to add in stress reduction techniques if it helped you reach your	</strong><br/>[[+stress5]]<br /><br />
<strong>	goals?	</strong><br/>			
<strong>	What kind of improvements would you like to see in:	</strong><br/><br/>
<strong>	6 weeks?	</strong><br/>[[+improvement1]]<br /><br />
<strong>	3 months?	</strong><br/>[[+improvement2]]<br /><br />
<strong>	6 months?	</strong><br/>[[+improvement3]]<br /><br />
<strong>	12 months?	</strong><br/>[[+improvement4]]<br /><br />
<strong>	Have you ever worked with a fitness professional?	</strong><br/>[[+everworked]]<br /><br />
<strong>	Did you see results?	</strong><br/>[[+everworkedresults]]<br /><br />
<strong>	Do you have any questions or concerns that you would like us to answer or address?	</strong><br/>[[+comments]]<br /><br />