<span class="title">Instagram Feed</span>
<div id="instafeed"></div> 
<script type="text/javascript">
    var userFeed = new Instafeed({ 
        get: 'user',
        userId: 1427646038,
        accessToken: '1427646038.cf3901d.a1387bdd3f334b5191d23a5289c55d0d',
        template: '<a class="animation" href="{{link}}"><img src="{{image}}" /></a>',
        sortBy: 'random',
        limit: 1
    });
    userFeed.run();
</script>