<div class="modal fade" id="toolkitModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row-fluid">
					<div class="col-xs-12"><a href="#" title="Close" data-dismiss="modal" class="closeModal"></a></div>
				</div> 
				<div class="row-fluid">
					<div class="col-xs-12"><h1>[[++toolkit_title]]</h1></div>
				</div>
				<div class="row-fluid">
					<div class="col-xs-12">[[++toolkit_content]]</div>
				</div>
				<div class="row-fluid">
					[[++toolkit_form]]
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

<div class="modal fade" id="contactModal" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row-fluid">
					<div class="col-xs-12"><a href="#" title="Close" data-dismiss="modal" class="closeModal"></a></div> 
				</div>
				<div class="row-fluid">
					<div class="col-xs-12">
						<h1>Contact Us</h1>
						[[getResources?
						  &parents=`-1` 
						  &resources=`6`
						  &tpl=`@INLINE [[+content]]`
						  &includeContent=`1`
						]]
					</div><!--col-->
				</div><!--/.row-->	
				<div class="row">
					<div class="col-xs-4">
						<span>
							[[++contact_title_1]]<br />
							[[++contact_phone_1]]<br />
							<a href="mailto:[[++contact_email_1]]" class="email text-hide" title="Email [[++contact_name_1]]"></a>
						</span>
					</div>
					<div class="col-xs-4">
						<span>
							[[++contact_title_2]]<br />
							[[++contact_phone_2]]<br />
							<a href="mailto:[[++contact_email_2]]" class="email text-hide" title="Email [[++contact_name_2]]"></a>
						</span> 
					</div>
					<div class="col-xs-4">
						<span>
						[[++site_name]]<br />
						[[++contact_street]]<br />
						[[++contact_city]]
						</span>
					</div>
				</div><!--/.row-->
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ptModal">
	<div class="modal-dialog modal-lg"> 
		<div class="modal-content">
			<div class="modal-body">
				<div class="row-fluid">
					<div class="col-xs-12"><a href="#" title="Close" data-dismiss="modal" class="closeModal"></a></div> 
				</div>
				<div class="row">
					<div class="col-xs-12">
					[[getResources?
					  &parents=`-1` 
					  &resources=`174`
					  &tpl=`@INLINE [[+content]]`
					  &includeContent=`1`
					]]
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.modal-body-->
		</div><!--/.modal-content-->
	</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal fade" id="wcModal"> 
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row-fluid">
					<div class="col-xs-12"><a href="#" title="Close" data-dismiss="modal" class="closeModal"></a></div> 
				</div>
				<div class="row">
					<div class="col-xs-12">
					[[getResources?
					  &parents=`-1` 
					  &resources=`175`
					  &tpl=`@INLINE [[+content]]`
					  &includeContent=`1`
					]]
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.modal-body-->
		</div><!--/.modal-content-->
	</div><!--/.modal-dialog-->
</div><!--/.modal-->