<item>
  <title>[[+pagetitle:htmlent]]</title> 
  <link>[[~[[+id]]? &scheme=`full`]]</link>
  <description>
    [[+description:is=``:then=`[[+content:cdata]]`]]
  </description>
  <pubDate>[[+publishedon:strtotime:date=`%a, %d %b %Y %H:%M:%S %z`]]</pubDate>
  <guid isPermaLink="false">[[~[[+id]]? &scheme=`full`]]</guid>
  <dc:creator>XF Wellness</dc:creator>
</item>