<td>
	<div class="module">
		<div class="icon [[#[[+parent]].tv.service_icon]]"></div>
		<h4>[[+longtitle:default=`[[+pagetitle]]`]]</h4>
		<p>[[+introtext:default=`[[+content:ellipsis=`150`]]`]]</p>
		<div class="buttonContainer">
			[[+tv.service_url_auto:is=`yes`:then=`
				<a href="[[+tv.service_url]]" class="generalButton" target="[[+tv.service_url_target:is=`yes`:then=`blank`]]">Learn More</a> 
			`:else=`
				<a href="[[~[[+id]]]]" class="generalButton">Learn More</a>
			`]]
			 
		</div><!--/.buttonContainer-->
	</div><!--/.module--> 
</td><!--/.col--> 