<div class="blogPostHeader"> 
	<a href="[[~[[+id]]]]" class="title">[[+pagetitle]]</a><br />
	By <a href="[[~2]]">[[+tv.blog_author:default=`X Factor Fitness Solutions Team`]]</a>
	on [[+publishedon:strtotime:date=`%B %e, %Y`]]
</div><!--/.blogPostheader-->
<div class="blogPost">
	<p>[[+introtext:default=`[[+content:striptags:ellipsis=`200`]]`]]</p>
</div>
<div class="blogPostFooter">
	Tags: [[!toLinks? &items=`[[getResourceField? &id=`[[+id]]` &field=`articlestags` &processTV=`1` &default=``]]` &target=`[[+id]]` &useTagsFurl=`1` &outputDelim=` ` &tpl=`blog_list_item_tags` ]]
	 | 
	 <a href="[[~[[+id]]]]#comments">[[!QuipCount? &parent=`[[+id]]` &thread=`article-b[[+parent]]-[[+id]]`]] Comments</a> 
</div><!--/.blogPostFooter--> 