		<section class="whiteSection">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-ms-6 latestPost">
								<div class="row">
									<div class="col-md-12">
										<h1>Latest X Factor post</h1>
									</div>
								</div>
								[[getResources?
								  &parents=`8`
								  &tpl=`tpl-gr-latest_post`
								  &showHidden=`1`
								  &limit=`1`
								  &includeTVs=`1`
								  &processTVs=`1`
								  &includeContent=`1`
								]]
							</div>						 
							<div class="col-md-6 col-ms-6">
								<div class="toolkit">
									<h3>[[++toolkit_title]]</h3>
									<p><img src="/assets/img/elements/footer-book_114x192.png" />[[++toolkit_content]]</p> 
									<a data-toggle="modal" href="#toolkitModal" title="Join" class="generalButton">[[++toolkit_join]]</a>
									[[++toolkit_link_url:isnt=``:then=`<a href="[[++toolkit_link_url]]" id="newsletterLink">[[++toolkit_link_text]]</a>
`]]
								</div>
							</div>
						</div>
					</div>
				</section>

			<footer>
				<div class="container-fluid">
					<div class="bg-yellow hidden-sm hidden-xs"></div>
					<div class="container">
						<div class="row">
						<!-- LEFT -->
						<div class="col-md-3 col-ms-3 left">
							<a id="footerLogo" href="[[~1]]" title="X Factor Wellness Solutiona"></a>
							<div id="socialMedia">
								<a id="facebook" href="[[++social_facebook]]" target="_blank" title="Facebook"></a>
								<a id="twitter" href="[[++social_twitter]]" target="_blank" title="Twitter"></a>
								<a id="instagram" href="[[++social_instagram]]"  target="_blank" title="Instagram"></a>
								<a id="pinterest" href="[[++social_pinterest]]"  target="_blank" title="Pinterest"></a>
							</div><!--/.social-->
							<div id="copyright">
								&copy; [[current_year]] [[++site_name]].<br />
								All Rights Reserved. <a href="[[~5]]">Privacy Policy</a>.<br />
								Site by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a>.
							</div><!--/.copyright-->
						</div><!--/.col-->
						<!-- RIGHT -->
						<div class="col-md-9 col-ms-9">
							<div class="row top">
								<div class="col-xs-12">
									<ul>
										<li>Forms</li>
										<li>Site</li>
										<li>Contact</li>
									</ul>
								</div><!--/.col-->
							</div><!--/.row-->
							<div class="row bottom">
								<div class="col-md-4 col-ms-4">
									<a data-toggle="modal" href="#ptModal" title="Personal Training" class="generalButton yellow">Personal Training</a>
									<a data-toggle="modal" href="#wcModal" title="Wellness Coaching" class="generalButton yellow">Wellness Coaching</a>
								</div><!--/.col-->
								<div class="col-md-4 col-ms-4 col-lg-offset-1">
									[[Wayfinder? &startId=`0` &level=`1` &limit=`3`]]
									[[Wayfinder? &startId=`0` &level=`1` &limit=`3` &excludeDocs=`1,2,3`]]
								</div><!--/.col-->
								<div class="col-md-3 col-ms-4 ">
									<span>
										[[++contact_title_1]]<br />
										[[++contact_phone_1]]<br />
										<a href="mailto:[[++contact_email_1]]" class="email text-hide" title="Email [[++contact_title_1]]"></a>
									</span>
									<span>
										[[++contact_title_2]]<br />
										[[++contact_phone_2]]<br />
										<a href="mailto:[[++contact_email_2]]" class="email text-hide" title="Email [[++contact_title_2]]"></a>
									</span>
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
				<div class="bg-gray hidden-sm hidden-xs"></div>
				<div class="bg-black hidden-sm hidden-xs"></div>
				</div><!--/.container-fluid-->
			</footer>
		
		</div><!--/#content_container-->
    [[$scripts]]
	</body>
</html>