
[[!FormIt?
  &hooks=`spam,fiProcessArrays,FormSave,email,redirect`
  &emailTo=`matt@xfwellness.com`
  &emailTpl=`tpl-email-client-goal-analysis`
  &emailSubject=`You have received a submission from [[++site_url]]`
  &emailFrom=`noreply@xfwellness.com`
  &clearFieldsOnSuccess=`0`
  &successMessage=`<span class="success">Thank you! Your form has been submitted.</span>`
  &fsFormTopic=`Client Goal Analysis`
  &redirectTo=`10`
  &store=`1`
  &storeTime=`1800`
  &validate=`
  username:blank,
  email:email:required,
  fullname:required`
]]
[[!FormItRetriever]]

<div class="row">
	<div class="col-lg-8 col-md-10 col-ms-10">
		


<form id="general-form" method="post" class="goal-form" action="[[~[[*id]]]]"> 
	[[!+fi.successMessage]]
	
	<span class="hidden">
		<input type="text" name="username" value="[[!+fi.username]]" />
	</span>
	
	<div class="row">
		[[!+fi.error.fullname]]
		[[!+fi.error.age]]
		[[!+fi.error.birthday]]
		<div class="col-md-4 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Name</label>
				<input type="text" name="fullname" value="[[!+fi.fullname]]" required />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-2 col-ms-2 col-sm-2">
			<div class="form-group">
				<label class="form-label">Age</label>
				<input type="text" name="age" value="[[!+fi.age]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-4 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Birthday</label>
				<input type="text" name="birthday" value="[[!+fi.birthday]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.email]]
		[[!+fi.error.address]]
		[[!+fi.error.phone]]
		<div class="col-md-4 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Email</label>
				<input type="text" name="email" value="[[!+fi.email]]" required />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-4 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Address</label>
				<input type="text" name="address" value="[[!+fi.address]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-4 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Phone Number</label>
				<input type="text" name="phone" value="[[!+fi.phone]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.occupation]]
		[[!+fi.error.hear]]
		<div class="col-md-4 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Occupation</label>
				<input type="text" name="occupation" value="[[!+fi.occupation]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-8 col-ms-8 col-sm-8">
			<div class="form-group">
				<label class="form-label">How did you hear about us?</label>
				<input type="text" name="hear" value="[[!+fi.hear]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<h3>Starting Statistics</h3>
	
	<div class="row">
		[[!+fi.error.weight]]
		[[!+fi.error.height]]
		[[!+fi.error.waist]]
		[[!+fi.error.bodyfat]]
		<div class="col-md-2 col-ms-2 col-sm-2">
			<div class="form-group">
				<label class="form-label">Weight</label>
				<input type="text" name="weight" value="[[!+fi.weight]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-2 col-ms-2 col-sm-2">
			<div class="form-group">
				<label class="form-label">Height</label>
				<input type="text" name="height" value="[[!+fi.height]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-3 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Waist Measurement</label>
				<input type="text" name="waist" value="[[!+fi.waist]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
		<div class="col-md-3 col-ms-4 col-sm-4">
			<div class="form-group">
				<label class="form-label">Body Fat % (If Known)</label>
				<input type="text" name="bodyfat" value="[[!+fi.bodyfat]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->

	
	<h3>Past, Present and Future</h3>
	
	<div class="row">
		[[!+fi.error.ppf1]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">1. What has brought you in today? What would you like to change?</label>
				<textarea name="ppf1">[[!+fi.ppf1]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.ppf2]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">2. What are your main motivations? (Why)</label>
				<textarea name="ppf2">[[!+fi.ppf2]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.ppf3]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">3. What have you tried in the past? Did it work?</label>
				<textarea name="ppf3">[[!+fi.ppf3]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.ppf4]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">4. What have been your main obstacles? Do they persist?</label>
				<textarea name="ppf4">[[!+fi.ppf4]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.ppf5]]
		<div class="col-md-8">
			<div class="form-group checkboxes">
				<label class="form-label">5. Out of the following statements, what most represents how you feel.</label>
				<input type="checkbox" name="ppf5[]" value="I am thinking about trying to change" [[!+fi.ppf5:FormItIsChecked=`I am thinking about trying to change`]] />I am thinking about trying to change<br />
				<input type="checkbox" name="ppf5[]" value="I am ready to make small steps to change" [[!+fi.ppf5:FormItIsChecked=`I am ready to make small steps to change`]] />I am ready to make small steps to change<br />
				<input type="checkbox" name="ppf5[]" value=" I am ready to take action to make change" [[!+fi.ppf5:FormItIsChecked=`I am ready to take action to make change`]] />I am ready to take action to make change
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<h3>Health (Refer to the PAR-Q and Health History Form)</h3>
	
	<div class="row">
		[[!+fi.error.health1]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">1. Do you have adequate health support? (Insurance?, a doctor?)</label>
				<input type="text" name="health1" value="[[!+fi.health1]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.health2]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">2. When was your last doctor’s appointment?</label>
				<input type="text" name="health2" value="[[!+fi.health2]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.health3]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">3. Are you currently taking any medications?</label>
				<input type="text" name="health3" value="[[!+fi.health3]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.health4]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">4. Do you have any “specific” health concerns at this time?</label>
				<textarea name="health4">[[!+fi.health4]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<h3>Exercise</h3>
	
	<div class="row">
		[[!+fi.error.ex1]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">1. Tell me about your current exercise routine. Cardio? Resistance Training?</label>
				<textarea name="ex1">[[!+fi.ex1]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.exa]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">A. Type of exercises?</label>
				<input type="text" name="exa" value="[[!+fi.exa]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.exb]]
		<div class="col-xs-6">
			<div class="form-group">
				<label class="form-label">B. Days per week?</label>
				<input type="text" name="exb" value="[[!+fi.exb]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.exc]]
		<div class="col-xs-6">
			<div class="form-group">
				<label class="form-label">C. Hours per day?</label>
				<input type="text" name="exc" value="[[!+fi.exc]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<h3>Nutrition</h3>
	
	<div class="row">
		[[!+fi.error.nutrition1]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">1. Tell me about your current eating habits.</label>
				<textarea name="nutrition1">[[!+fi.nutrition1]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritiona]]
		<div class="col-sm-6">
			<div class="form-group">
				<label class="form-label">A. Do you know how to cook?</label>
				<input type="text" name="nutritiona" value="[[!+fi.nutritiona]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritionb]]
		<div class="col-sm-6">
			<div class="form-group">
				<label class="form-label">B. How many meals eaten per day?</label>
				<input type="text" name="nutritionb" value="[[!+fi.nutritionb]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritionc]]
		<div class="col-sm-6">
			<div class="form-group">
				<label class="form-label">C. How many Calories consumed per day?</label>
				<input type="text" name="nutritionc" value="[[!+fi.nutritionc]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritiond]]
		<div class="col-sm-6"> 
			<div class="form-group">
				<label class="form-label">D. Do you log your food?</label>
				<input type="text" name="nutritiond" value="[[!+fi.nutritiond]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritione]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">E. Are there any specific “diets” you are trying?</label>
				<input type="text" name="nutritione" value="[[!+fi.nutritione]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritionf]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">F. Would you be willing to modify your eating habits in order to reach your goals?</label>
				<input type="text" name="nutritionf" value="[[!+fi.nutritionf]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritiong]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">G. Are you currently taking any supplements? (If so please list)</label>
				<input type="text" name="nutritiong" value="[[!+fi.nutritiong]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritionh]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">H. Would you be willing to add supplements to your meal plan if it assisted in
reaching your goals?</label>
				<input type="text" name="nutritionh" value="[[!+fi.nutritionh]]" />
			</div><!--/.form-group--> 
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.nutritioni]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">I. Do you have any food allergies?</label>
				<input type="text" name="nutritioni" value="[[!+fi.nutritioni]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<h3>Stress</h3>
	
	<div class="row">
		[[!+fi.error.stress1]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">1. On a scale of 1 (low) to 10 (very high) how stressed would you say you are today
</label>
				<input type="text" name="stress1" value="[[!+fi.stress1]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.stress2]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">2. On that same scale, how stressed are you on an average day?
</label>
				<input type="text" name="stress2" value="[[!+fi.stress2]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.stress3]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">3. How many hours of sleep do you get per night?

</label>
				<input type="text" name="stress3" value="[[!+fi.stress3]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.stress4]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">4. Do you have any regular strategy to deal with stress? (meditation? yoga?)
</label>
				<input type="text" name="stress4" value="[[!+fi.stress4]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.stress5]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">5. Would you be willing to add in stress reduction techniques if it helped you reach your
goals?
				<input type="text" name="stress5" value="[[!+fi.stress5]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	
	<h3>What kind of improvements would you like to see in:</h3>
	
	<div class="row">
		[[!+fi.error.improvement1]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">6 weeks?
</label>
				<input type="text" name="improvement1" value="[[!+fi.improvement1]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.improvement2]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">3 months?
</label>
				<input type="text" name="improvement2" value="[[!+fi.improvement2]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.improvement3]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">6 months?
</label>
				<input type="text" name="improvement3" value="[[!+fi.improvement3]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.improvement4]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">12 months?
</label>
				<input type="text" name="improvement4" value="[[!+fi.improvement4]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.everworked]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">Have you ever worked with a fitness professional?
</label>
				<input type="text" name="everworked" value="[[!+fi.everworked]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.everworkedresults]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">Did you see results?
</label>
				<input type="text" name="everworkedresults" value="[[!+fi.everworkedresults]]" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.comments]]
		<div class="col-md-8">
			<div class="form-group">
				<label class="form-label">Do you have any questions or concerns that you would like us to answer or address?</label>
<textarea name="comments" value="[[!+fi.comments]]">[[!+fi.comments]]</textarea>
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->
	
	<div class="row">
		[[!+fi.error.comments]]
		<div class="col-md-8">
			<div class="form-group">
				<input type="submit" value="SUBMIT" name="submit" />
			</div><!--/.form-group-->
		</div><!--/.col-->
	</div><!--/.row-->

	
</form>

	</div><!--/.col-->
</div><!--/.row-->