<div class="mobile-drawers">
  <div class="mobile-drawer mobile-drawer-left">
	  <div class="drawer_container">
		 <nav>[[Wayfinder? &startId=`0` &level=`1`]]</nav>
	  </div><!--/.drawer_container -->
  </div><!--/.mobile-drawer left --> 
  <div class="mobile-drawer mobile-drawer-right">
	  <div class="drawer_container">
		 <nav>[[Wayfinder? &startId=`3` &level=`2`]]</nav>
	  </div><!--/.drawer_container -->
  </div><!--/.mobile-drawer left --> 
</div><!--/.mobile-drawers --> 
[[$modals]]
<div id="content_container"> 
	<header> 
		<div class="container">
			<div class="row mobileHeader visible-sm visible-xs">
				<div class="col-xs-12">
					<div class="mobile-trigger-left text-hide visible-sm visible-xs">Navigation</div>
				</div><!--/.col12-->
			</div><!--/.row-->
			<div class="row upperHeader">
				<div class="col-xs-12">
					<p>[[++header_text]]</p>
					<a data-toggle="modal" href="#toolkitModal" class="generalButton yellow" title="Join" >[[++header_button]]</a>
				</div><!--/.col12-->
			</div><!--/.row-->
			<div class="row lowerHeader">
				<div class="col-md-3 col-ms-3">
					<a href="[[~1]]" class="headerLogo" title="[[++site_name]]">
						<img src="/assets/img/elements/header-main-logo_224x52.jpg" alt="[[++site_name]]" class="img-responsive" /> 
					</a>
				</div>
				<div class="col-md-9 col-ms-9 hidden-sm hidden-xs">
					[[Wayfinder? &startId=`0` &level=`1` &outerClass=`hidden-sm hidden-xs`]]
				</div><!--/.col12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</header> 