<item>
  <title>[[+pagetitle:htmlent]]</title>
  <link>[[~[[+id]]? &scheme=`full`]]</link>
  <description>
    [[+description:default=`[[+content:ellipsis=`600`]]`:cdata]]
  </description>
  <pubDate>[[+publishedon:strtotime:date=`%a, %d %b %Y %H:%M:%S %z`]]</pubDate>
  <guid isPermaLink="false">[[~[[+id]]? &scheme=`full`]]</guid>
  <dc:creator>XF Wellness</dc:creator>
  <media:content
    url="http://xfwellness.com/[[+tv.blog_image]]" 
    type="image/jpeg" 
    height="768" 
    width="1024"/>
</item>