<section id="circles">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-5 col-sm-offset-1 col-xs-offset-1">
				<a id="individualLink" class="circle" href="[[+homeCtaLink-0]]">
					<span>[[+homeCtaLinkText-0]]</span>
				</a>
				</div>
				<div class="col-sm-4 col-xs-5 col-sm-offset-2">
				<a id="corporateLink" class="circle" href="[[+homeCtaLink-1]]">
					<span>[[+homeCtaLinkText-1]]</span>
				</a>
			</div><!--/.col-->
		</div><!--/.row-->
	</div><!--/.container-->
</section> 