<div class="row">
	<div class="col-md-2 col-ms-2 col-sm-2 col-xs-2">
		<img src="/assets/img/elements/footer-news-icon_69x69.png" />
	</div>
	<div class="col-md-10 col-ms-10col-sm-10 col-xs-10">
		<a href="[[~[[+id]]]]" class="title">[[+pagetitle]]</a><br />
		By <a href="[[~2]]#team">[[+tv.blog_author:default=`X Factor Fitness Solutions Team`]]</a><br />
		on [[+publishedon:strtotime:date=`%B %e, %Y`]]
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-ms-10 col-sm-10 col-md-offset-2 col-ms-offset-2 col-sm-offset-2 blogPost">
		<p>[[+introtext:default=`[[+content:striptags:ellipsis=`100`]]`]]</p>
		<a href="[[~8]]" class="generalButton yellow">View Blog</a>
	</div>
</div>
