<div class="row">
	<div class="col-lg-3 col-md-3 col-ms-3 col-sm-3 col-xs-12">
		<img src="[[+tImage]]" alt="[[+tName]]" />
	</div><!--/col-->
	<div class="col-lg-9 col-md-9 col-ms-9 col-sm-9 col-xs-12">
		<p>"[[+tContent]]"</p>
		<h4>- [[+tName]][[+tJob:isnt=``:then=`, [[+tJob]]`]]</h4>
	</div>
</div><!--/.row-->

<div class="row">
	<div class="col-xs-12">
		<hr />
	</div>
</div> 