<div class="slide">
	<img src="[[+homeSliderImage]]"/>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-ms-8">
				<span>[[+homeSliderDesc]]</span>
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.slide-->