<div class="col-md-3 col-ms-3 col-xs-height col-top">
	<div class="cta cta[[+idx]] [[+homeCtaIcon]]">
		<h2>[[+homeCtaTitle]]</h2>
		<p>[[+homeCtaDesc]]</p>
		<div class="buttonContainer">
			<a href="[[+homeCtaLink]]" class="generalButton">[[+homeCtaLinkText]]</a>
		</div>
	</div><!--/.cta-->
</div><!--/.col-->