<td>
	<div class="module">
		<div class="icon [[#[[+parent]].tv.service_icon]]"></div>
		<h4>[[+longtitle:default=`[[+pagetitle]]`]]</h4>
		<p>[[+introtext:default=`[[+content:ellipsis=`150`]]`]]</p>
		<div class="buttonContainer">
			<a href="[[~[[+id]]]]" class="generalButton">Learn More</a> 
		</div><!--/.buttonContainer-->
	</div><!--/.module--> 
</td><!--/.col--> 