<div class="col-lg-5 col-md-6 col-ms-6 col-xs-12 col-lg-offset-1">
	<img src="[[+tv.about_image]]" alt="[[+pagetitle]]" />
	<h3>[[+pagetitle]]<br />
		[[+longtitle]]
	</h3>
	<div class="bio">[[+content]]</div>
	
</div> 