[[$head]]
[[$header]]
<section class="blackSection">
	<div class="col-xs-12 text-center">
		<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
		[[*content]]
	</div>
</section>
<hr />
[[$footer]]