[[$head]]
[[$header]]
<section class="lightSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-3 col-md-3 col-ms-4 hidden-sm hidden-xs">
				<div id="sidebarNav">
					<!-- don't forget to update code on the services-general template! -->
					<a href="[[~3]]" class="title">All</a>
					<!-- individual was [[~16]] --> 
					<a href="[[~449]]" class="title">Individual</a>
					<span class="title" style="color:black !important; font-size: 18px !important;">[[Wayfinder? &startId=`449` &level=`1`]]</span>
					<!-- corporate was [[~15]] -->
					<a href="[[~450]]" class="title">Corporate</a>
					<span class="title" style="color:black !important; font-size: 18px !important;">[[Wayfinder? &startId=`450` &level=`1`]]</span>
					<!-- Additiona was [[~230]] -->
					<a href="[[~451]]" class="title">Additional Resources</a>
					<span class="title" style="color:black !important; font-size: 18px !important;">[[Wayfinder? &startId=`451` &level=`1`]]</span>
					[[$instafeed]]
					<a class="generalButton" data-toggle="modal" href="#toolkitModal"  title="Join">[[++toolkit_title]]</a> 
				</div>
			</div>
			<div class="col-xs-12 col-lg-9 col-md-9 col-ms-8">
				<div id="service-modules" class="row">
					<div class="mobile-trigger-right visible-sm visible-xs generalButton">Filter</div>
					[[*id:isnt=`3`:then=`[[Breadcrumbs? &showHomeCrumb=`0` &currentAsLink=`0`]]`]]
					[[*content]]
					
				</div><!--/.row-->
			</div>
		</div>
	</div>
</section>
[[$footer]]
