[[$head]]
[[$header]]
<section id="testimonials" class="lightSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
				[[*content]]
			</div><!--/.col-->
		</div><!--/.row-->
		
		[[!getImageList?
      &tvname=`MIGX-testimonials`
      &tpl=`tpl-migx-testimonials`
    ]] 
		
	</div><!--/.container-->
</section>
<hr />
[[$footer]]  