[[$head]]
[[$header]]
<section class="lightSection">
	<div class="container"> 
		<div class="row">
			<div class="col-xs-12 col-lg-3 col-md-4 col-ms-4 hidden-sm hidden-xs">
				[[$blog_sidebar]]
			</div><!--/.col-->
			<div class="col-xs-12 col-lg-9 col-md-8 col-ms-8 blogPost">
				<div class="generalButton back" onClick="history.go(-1); return false;">Back</div>
				<h1>[[*pagetitle]]</h1>
				[[*content]]
				<div class="socialShare">
					<span class='st_facebook_large' displayText='Facebook'></span>
					<span class='st_twitter_large' displayText='Tweet'></span>
					<span class='st_linkedin_large' displayText='LinkedIn'></span>
					<span class='st_pinterest_large' displayText='Pinterest'></span>
					<span class='st_email_large' displayText='Email'></span>
				</div>
				<div id="comments" class="comments">
	        <h2>Leave a Comment</h2>
	        [[+comments_form]]
	        [[+comments]]
	      </div><!--/.comments-->
				
			</div><!--/.col-->
		</div><!--/.row-->
	</div><!--/.container-->
</section>
[[$footer]]