[[$head]]
[[$header]]
<section class="lightSection facilities"> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="slideshow"> 
					<div class="arrows">
						<a href="#" class="prev" title="Previous"></a>
						<a href="#" class="next" title="Next"></a>  
					</div> 
					[[getImageList?
			      &tvname=`MIGX-facilities`
			      &tpl=`@CODE: <img src="[[+facilityImage]]" alt="[[+facilityTitle]]" />`
			    ]] 
				</div><!--/#slideshow--> 
				<div class="pager"></div> 
			</div><!--/.col-->
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-6 col-ms-6 col-sm-6 col-xs-12"> 
				[[*content]]
			</div>
			<div class="col-xs-12 col-md-6 col-ms-6 col-sm-6">
				[[*facility_map_1]]
			</div>
		</div>
	</div><!--/.container-->
</section>
[[$footer]]
