<!doctype html>
<html class="no-js" lang="en">
<head>
	<title>X Factor Fitness Solutions | Checkout</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/icons/favicon.png" type="image/x-icon" />

  <!--[if lt IE 9 ]>
    <script type="text/javascript">
        var IEElms = ['article', 'aside', 'header', 'main', 'nav', 'section'];
        for (var i = 0; i < IEElms.length; i++) {
            document.createElement(IEElms[i]);
        };
    </script>
    <script src="//{{ config.store_domain }}/static/scripts/respond/respond.1.4.2.js" charset="utf-8"></script>
<![endif]-->

    <link href="{{ config.css_file }}" rel="stylesheet" media="all">
  <link rel="stylesheet" href="/assets/css/foxycart.css">
</head> 
<body class="foxycart cart" data-fc-context='{"cart_is_fullpage":true}'>

<div id="content_container"> 
	<header> 
		<div class="container">
			<div class="row lowerHeader">
				<div class="col-lg-12">
					<a href="[[~1]]"  class="headerLogo" title="XFactor">
						<img src="/assets/img/elements/header-main-logo_224x52.jpg" alt="" class="img-responsive" /> 
					</a>
				</div>
			</div><!--/.row-->
		</div><!--/.container-->
	</header> 
    <div id="fc">
		{% include 'svg.inc.twig' %}
		{% import "utils.inc.twig" as utils %}
		{% use 'checkout.inc.twig' %}
		{{ block('checkout') }}
		</div>

	<footer>
				<div class="container-fluid">
					<div class="bg-yellow hidden-sm hidden-xs"></div>
					<div class="container">
						<div class="row">
						<!-- LEFT -->
						<div class="col-md-3 col-ms-3 left">
							<a id="footerLogo" href="#"></a>
							<div id="socialMedia">
								<a id="facebook" href="https://www.facebook.com/pages/X-Factor-Fitness-SolutionsMatt-Trudo/105088149549330" target="_blank" title="Facebook"></a>
								<a id="twitter" href="https://twitter.com/xfactor_fitness" target="_blank" title="Twitter"></a>
								<a id="blogger" href="blog/"  target="_blank" title="View Blog"></a>
							</div><!--/.social-->
							<div id="copyright">
								&copy; 2015 X Factor Fitness Solutions.<br />
								All Rights Reserved. <a href="privacy-policy/">Privacy Policy</a>.<br />
								Site by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a>.
							</div><!--/.copyright-->
						</div><!--/.col-->
						<!-- RIGHT -->
						<div class="col-md-9 col-ms-9">
							<div class="row top">
								<div class="col-xs-12">
									<ul>
										<li>Forms</li>
										<li>Site</li>
										<li>Contact</li>
									</ul>
								</div><!--/.col-->
							</div><!--/.row-->
							<div class="row bottom">
								<div class="col-md-4 col-ms-4">
									<a href="#" class="generalButton yellow">Personal Training</a>
									<a href="#" class="generalButton yellow">Wellness Coaching</a>
								</div><!--/.col-->
								<div class="col-md-4 col-ms-4 col-lg-offset-1">
									<ul><li class="first"><a href="http://xfactor.keystoneresources.modxcloud.com/" title="Home" >Home</a></li>
<li><a href="about/" title="About" >About</a></li>
<li class="last active"><a href="services/" title="Services" >Services</a></li>
</ul>
									<ul><li class="first"><a href="facilities" title="Facilities" >Facilities</a></li>
<li><a href="blog/" title="Blog" >Blog</a></li>
</ul>
								</div><!--/.col-->
								<div class="col-md-3 col-ms-4 ">
									<span>
										Carol Nave<br />
										713.443.6922<br />
										<a href="mailto:#" class="text-hide" title="Email Carol Nave"></a>
									</span>
									<span>
										Matt Trudo<br />
										713.572.7262<br />
										<a href="mailto:#" class="text-hide" title="Email Matt Trudo"></a>
									</span>
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
				<div class="bg-gray hidden-sm hidden-xs"></div>
				<div class="bg-black hidden-sm hidden-xs"></div>
				</div><!--/.container-fluid-->
			</footer>
		
		</div><!--/#content_container-->

	
</body>
</html>